<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DatePlanificari" value="C:\Users\Miriam\Documents\Aplicatii C#\Turismul_durabil\planificari.txt"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\Documents\Aplicatii C#\Turismul_durabil\Turism.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>